.ygwrap{
	width: 1050px;
	margin: 0 auto;
}
#wrap .wrap_nav2{
	position: relative;
}
.curLct{
	height: 22px;
	line-height: 22px;
	margin: 3px auto;
	font-size: 12px;
}
.curLct a{
	color: #36c;
}
.curLct a:hover{
	color: #e60012;
}
.jqzoom{
	width: 480px;
	height: 480px;
	position: relative;
	padding: 0;
}
.jqzoom img{
	border:1px solid #eaeaea;
	vertical-align: middle;
}
#spec-list{
	height: 78px;
	width: 490px;
	padding-top: 11px;
	overflow: hidden;
}
.goodsCon{
	margin-left: 18px;
	width: 490px;
	z-index: -1;
	/*position: relative;*/
	height: 560px;
}
.goodsCon h1{
	font-size: 16px;
	line-height: 28px;
}
.goodsImg{
	width: 482px;
	top: 0;
	float: left;
}
.fr{
	float: right;
}
.list-h li{
	float: left;
	display: inline;
	width: 69px;
	padding-top: 5px;
}
#spec-list img{
	padding: 2px;
	border:1px solid #ddd;
	width: 60px;
	height: 60px;
	vertical-align: middle;
}
.ht31{
	height: 31px;
	line-height: 31px;
	clear: both;
}
.goods_more a{
	color: #36c;
	text-decoration: underline;
	font-size: 14px;
}
.goods_more a:hover{
	color: #e60012;
}
.good_ygprcarea{
	padding: 4px 0 20px;
}
.good_ygprcarea .ygprcarea{
	padding-top: 7px;
	color: #aaa;

}
.ygprc35{
	color: #e60012;
	font-size: 24px;
}
.ygprc35 i{
	color: #e60012;
	font-size: 32px;
}
.mltpl_actv{
	padding: 8px 0 15px;
	margin: 0 0 8px;
}
.mltpl_actv .itm{
	padding-top: 2px;
}
.mltpl_actv .xsbuy_itm dt{
	margin-top: 5px;
	font-size: 12px;
	padding-left: 19px;
	width: 46px;
	float: left;
	padding-right: 16px;
	background: url(../images/new_dpico.png) no-repeat 0 -237px;
}
.mltpl_actv .itm_bd .tip{
	line-height: 22px;
	font-size: 12px;
}
.mltpl_actv .itm_bd b{
	color: #e60012;
}
.goodsCon .buy p{
	overflow: hidden;
}
.goodsCon .num span{
	margin-right: 8px;
	line-height: 25px;
	float: left;
}
.subtract,.plus{
	float: left;
	width: 11px;
	height: 11px;
	margin-top: 7px;
	line-height: 0;
	font-size: 0;
	background: url(../images/jiajian.gif) no-repeat;
}
.subtract{
	background-position: -11px 0;

}
.plus{
	background-position: -11px -11px;
	float: right;
}
.goodsCon .num input{
	width: 25px;
	padding: 0;
	margin: 2px;
	height: 17px;
	line-height: 17px;
	text-align: center;
}
.goodsCon .qbuy .lj2{
	background: #fff;
	color: #e60012;
}
.goodsCon .qbuy .lj2,.goodsCon .qbuy .ks2{
	font-size: 15px;
	font-weight: bold;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border:1px solid #d90d0d;
	margin-right: 10px;
	width: 121px;
	float: left;
}
.goodsCon .qbuy .ks2{
	background: #d90d0d;
	color: #fff;
}
.qbuy{
	clear: both;
	width: 300px;
	height: 40px;
	padding-top: 10px;
}







